/* responsive-spacer */
.responsive-spacer {
  height: var(--desktop-spacing);
}

@media (max-width: 767px) {
  .responsive-spacer {
    height: var(--mobile-spacing);
  }
}

/* Balance Left */
.balance-left-h1-block,
.balance-left-h2-block,
.balance-left-p-block {
  margin: auto;
  max-width: 1200px;
  padding: 20px 0 20px 20px;
}
.balance-left-h1-block > h1,
.balance-left-h2-block > h2,
.balance-left-p-block > p {
  padding-right: var(--right-space, 50%);
}

/* full-span-image */

.full-span-image {
  background-size: cover;
  background-position: center;
  height: var(--desktop-height);
}

@media (max-width: 767px) {
  .balance-left-h1-block > h1,
  .balance-left-h2-block > h2,
  .balance-left-p-block > p {
    padding-right: 20px;
  }
  .full-span-image {
    height: var(--mobile-height);
  }
}
